/* generel styling */

.main-canvas-section {
    width: 100%;
    background-color: rgb(0, 0, 0, 0.8);
}

/* Styling af forside */

#dark-video-overlay {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgb(0, 0, 0, 0.8);
}

#background-video {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -9;
    top: 0;
    right: 0;
    overflow: hidden;
}

#desktop-background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100%;
    min-width: 100%;
    display: none;
}

#gif-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100%;
    min-width: 100%;
}

#forside-video-pop-up {
    background-color: rgb(0, 0, 0, 0.8);
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    display: none;
}

#close-button-forside-video {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-style: none;
    margin: 20px;
    position: absolute;
    right: 0;
}

#close-button-forside-video img {
    width: 100%;
}

#video-center {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe {
    border-style: none;
}

#koncept-video {
    width: 98%;
    height: 30vh;
    display: block;
}

#forside-section-1 {
    height: 75vh;
    width: 100%;
}

#forside-logo {
    width: 140px;
    height: 100px;
    margin: 0 auto;
    margin-top: 16vh;
}

#forside-logo img {
    width: 100%;
    display: block;
}

#forside-heading {
    font-family: "HelveticaNeue-CondensedBlack";
    text-align: center;
    line-height: 1.6em;
    letter-spacing: 1px;
    margin-top: 3vh;
}

#forside-heading-1 {
    font-size: 1.5em;
    color: transparent;
    -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color: white;
}

#forside-heading-2 {
    font-size: 2.1em;
    color: white;
}

#forside-video-knap-contaioner {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}

#forside-video-knap {
    background-color: transparent;
    height: 50px;
    width: 180px;
    border-color: #F8D560;
    border-radius: 50px;
    border-style: solid;
    border-width: 5px;
    color: white;
    font-size: 1.4em;
    font-family: "Helvetica Neue";
    font-weight: 600;
}

#forside-video-knap:hover {
    background-color: #F8D560;
    color: black;
    font-weight: 600;
}

#mobile-arrow-down {
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 90vh;
}

#mobile-arrow-down img {
    height: 100%;
    display: block;
}

#koncept-heading {
    font-family: "HelveticaNeue-CondensedBlack";
    color: white;
    text-align: center;
    font-size: 2.6em;
    padding-top: 8vh;
    padding-bottom: 2vh;
}

#price-text {
    font-weight: 500;
}

#koncept-billede {
    width: 94%;
    margin: 0 auto;
    height: 30vh;
    background-image: url(../images/hyggestemning.jpg);
    background-position: center;
    background-size: cover;
}

#koncept-paragraph {
    color: white;
    font-family: "Helvetica Neue";
    font-weight: 100;
    width: 94%;
    margin: 0 auto;
    padding-top: 2vh;
    padding-bottom: 2vh;
    line-height: 1.8em;
    text-align: center;
}

/* Forside forestilling */

#viderestil-button {
    font-family: "Helvetica Neue";
    font-size: 1.4em;
    font-weight: 600;
    width: 100%;
    background-color: #F8D560;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 0px 0px 15px 15px;
    text-align: center;
    text-decoration: none;
    color: #454545;
    letter-spacing: 1px;
}

#devider {
    padding-bottom: 10vh;
}

#koncept-heading-2 {
    font-family: "HelveticaNeue-CondensedBlack";
    color: white;
    text-align: center;
    font-size: 2.6em;
    padding-top: 16vh;
    padding-bottom: 4vh;
}

/* Styling af forestillinger */

#generel-heading {
    font-family: "HelveticaNeue-CondensedBlack";
    text-align: center;
    font-size: 2.6em;
    color: white;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.kommende-forestilling {}

.poster {
    width: 94%;
    margin: 0 auto;
    max-width: 700px;
}

.poster-image {
    height: 100%;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    overflow: hidden;
    background-image: url("../images/forestilling-poster.jpg");
    background-color: black;
    background-position: center;
    background-size: cover;
}

.hashtag-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.hashtag-text {
    color: white;
    background-color: #1A1A1A;
    font-size: 1em;
    padding-bottom: 4px;
    padding-top: 2px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 8px;
    margin-left: 8px;
    margin-top: 8px;
    font-family: "Helvetica Neue";
    font-weight: 100;
    letter-spacing: 1px;
}

.hashtag-styling {
    color: orange;
}

.poster-title-dato-container {
    height: 100%;
    margin-top: 30vh;
}

.poster-dato {
    font-size: 1em;
    font-family: "Helvetica Neue";
    font-weight: 400;
    padding-left: 8px;
    padding-bottom: 12px;
}

.poster-titel {
    font-size: 2em;
    font-family: "Helvetica Neue";
    font-weight: 600;
    padding-left: 8px;
    padding-bottom: 12px;
    color: white;
}

.text-backround {
    background-color: #1A1A1A;
    padding-bottom: 4px;
    padding-top: 2px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 8px;
    color: white;
}

.poster-buttons {
    width: 100%;
    display: flex;
}

.buy-button {
    width: 50%;
    background-color: #9CF443;
    border: none;
    border-radius: 0px 0px 0px 15px;
    color: #454545;
    font-family: "Helvetica Neue";
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    text-decoration: none;
}

.buy-button:hover {
    background-color: #72D908;
}

.read-more-button {
    width: 50%;
    height: 100%;
    background-color: #454545;
    border: none;
    border-radius: 0px 0px 15px 0px;
    color: white;
    font-family: "Helvetica Neue";
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 2px;
    padding-top: 12px;
    padding-bottom: 12px;
    cursor: pointer;

}

.read-more-button:hover {
    background-color: #777777;
}

#fremtidig-forestilling-container {
    margin: 0 auto;
    margin-top: 2vh;
    margin-bottom: 6vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fremtidig-forestilling {
    width: 94%;
    height: 100px;
    border-radius: 15px;
    background-color: #454545;
    padding: 1vh;
    margin-bottom: 2vh;
    max-width: 700px;
}

.fremtidig-forestilling-indhold {
    display: flex;
    justify-content: center;
    align-items: center;
}

#styling-top {
    background-color: #1A1A1A;
    border-radius: 15px;
    height: 60%;
}

#styling-bottom {
    height: 40%;
}

.forestilling-tid {
    color: white;
    font-family: "Helvetica Neue";
    font-size: 1.1em;
}

.foresttilling-kommer {
    color: white;
    font-family: "Helvetica Neue";
    font-weight: 300;
    letter-spacing: 1px;
}

/* Pop up til fremtidig forestilling */

.poster-popup-info {
    background-color: rgb(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
}

.poster-info-container {
    width: 94vw;
    height: 96vh;
    background-color: #3E3E3E;
    margin-top: 2vh;
    border-radius: 15px;
}

.pop-up-top-container {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 15px 15px 0px 0px;
}

.close-button {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.close-button img {
    width: 50%;
    display: block;
}

.photo-text-devider {}

.pop-up-image-container {
    display: none;
}

.pop-up-text-container {}

.pop-up-title {
    font-family: "Helvetica Neue";
    font-size: 2em;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

.pop-up-description {
    width: 100%;
    height: 30vh;
    overflow: scroll;
}

.pop-up-description p {
    font-family: "Helvetica Neue";
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.6em;
    margin: 10px;
    color: white;
}

.description-line {
    border-color: #222222;
    border-style: solid;
    margin-left: 10px;
    margin-right: 10px;
}

.pop-up-dato {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pop-up-dato p {
    font-family: "Helvetica Neue";
    font-weight: 300;
    border-style: solid;
    border-width: 1px;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 100px;
    border-color: #707070;
    color: white;
    margin-bottom: 5px;
}

.pup-up-buy-button {
    background-color: #9CF443;
    width: 100%;
    margin-top: 5px;
    border-style: none;
    border-radius: 8px;
    color: #454545;
    font-family: "Helvetica Neue";
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 2px;
    text-decoration: none;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
}

.pop-up-praktisk-info {
    height: 30vh;
    width: 100%;
    border-radius: 0px 0px 15px 15px;
    overflow: scroll;
}

.pop-up-praktisk-devider {
    display: flex;
    margin-top: 7px;
    margin-bottom: 20px;

}

.position-text-left {
    width: 45%;
    padding-left: 10px;
    font-weight: 400;
    font-family: "Helvetica Neue";
    color: white;
    font-size: 1em;
}

.position-text-right {
    font-family: "Helvetica Neue";
    color: white;
    font-size: 1em;
    font-weight: 300;
    padding-right: 10px;
    letter-spacing: 1px;
}


.pop-up-praktisk-devider ul {}

.pop-up-praktisk-devider li {
    list-style: none;
    padding-bottom: 2px;
    display: flex;
    padding-bottom: 10px;
}

.pop-up-praktisk-line {
    border-color: #222222;
    border-style: solid;
    margin-left: 10px;
    margin-right: 10px;
    border-width: 1px;
    border-radius: 1px;
    margin-bottom: 10px;
}


/* Styling af galleri */

.gallery-heading{
   letter-spacing: 3px;
}

#image-gallery-container{
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 100px;
}

.image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1.5rem;
    grid-template-areas:
        'img-1 img-2 img-3 img-3'
        'img-1 img-4 img-5 img-6'
        'img-7 img-7 img-8 img-6';

}

.image-gallery a {
    width: 100%;
    height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-gallery a::before {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 5s;
}

.image-gallery a:hover{
    z-index: 1;
    transform: scale(1.05);
    box-shadow: 0 25px 40px rgba(0,0,0,.5);
    transition: .5s;
}

.img-1 {
    grid-area: img-1;
    min-height: 51.5rem;
    background-image: url(../image-gallery/billede1.jpg);

}

.img-2 {
    grid-area: img-2;
    background-image: url(../image-gallery/billede2.jpg);

}

.img-3 {
    grid-area: img-3;
    background-image: url(../image-gallery/billede3.jpg);

}

.img-4 {
    grid-area: img-4;
    background-image: url(../image-gallery/billede4.jpg);

}

.img-5 {
    grid-area: img-5;
    background-image: url(../image-gallery/billede5.jpg);

}

.img-6 {
    grid-area: img-6;
    min-height: 51.5rem;
    background-image: url(../image-gallery/billede6.jpg);

}

.img-7 {
    grid-area: img-7;
    background-image: url(../image-gallery/billede7.jpg);

}

.img-8 {
    grid-area: img-8;
    background-image: url(../image-gallery/billede8.jpg);

}


/* Styling af Frivillig */

#mobile-menu-dark-overlay {
    background-color: rgb(0, 0, 0, 0.8);
}

#frivillig-heading {
    text-align: center;
    font-size: 3em;
    color: white;
    font-family: "HelveticaNeue-CondensedBlack";
    padding-top: 4vh;
}

#volunteer-video-container {
    padding-bottom: 10vh;
}

#volunteer-video {
    display: block;
    margin: 0 auto;
    width: 96%;
    height: 40vh;
    margin-top: 40px;
}

#main-canvas-section-two {}

#yellow-canvas {
    background-color: #F8D560;
}

#heading-container {
    padding-top: 3vh;
}

#heading-container h1 {
    text-align: center;
    font-size: 2.6em;
    font-family: "HelveticaNeue-CondensedBlack";
    display: flex;
    flex-direction: column;
}

#heading-start {
    color: transparent;
    -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color: black;
}

#heading-end {
    color: black;
    font-size: 1.3em;
    line-height: 0.8em;
}

#yellow-canvas-container {
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
}

#text-content {
    font-family: "Helvetica Neue";
    width: 94%;
    margin: 0 auto;
    padding-bottom: 4vh;
}

#bliv-frivillig-text {
    font-family: "Helvetica Neue";
    line-height: 1.5;
    font-weight: 300;
    line-height: 1.8em;
}

#input-label {
    width: 96%;
    margin: 0 auto;
}

.form-text-container {
    display: flex;
    margin-top: 1vh;
    margin-bottom: 2vh;
}

.box-text {
    width: 70px;
    border-radius: 5px 0px 0px 5px;
    background-color: #1A1A1A;

}

.box-text p {
    font-family: "HelveticaNeue-CondensedBold";
    letter-spacing: 1px;
    font-size: 1.2em;
    padding-left: 6px;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
}

.name {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-style: none;
    background-color: #3D3D3D;
    width: 100%;
    font-size: 1.2em;
    font-family: "Helvetica Neue";
    border-radius: 0px 5px 5px 0px;
    color: white;

}

#mail-container {}

#dm-container {
    display: flex;
    flex-direction: column;
}

#besked-center {
    background-color: #1A1A1A;
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}

#besked-center p {
    font-family: "HelveticaNeue-CondensedBold";
    letter-spacing: 1px;
    font-size: 1.2em;
    padding-left: 6px;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
}

#input {
    width: 100%;
    background-color: #3D3D3D;
    border-style: none;
    border-radius: 0px 0px 5px 5px;
    font-size: 1.2em;
    font-family: "Helvetica Neue";
    color: white;

}

#send-button {
    padding-top: 2vh;
    padding-bottom: 2vh;
    display: flex;
    justify-content: center;
}

#send-button input {
    border-style: solid;
    border-width: 3px;
    background-color: transparent;
    border-color: #1A1A1A;
    border-radius: 10px;
    height: 45px;
    width: 120px;
    color: #1A1A1A;
    font-family: "HelveticaNeue-CondensedBold";
    font-size: 1.4em;
}

#send-button input:hover {
    background-color: black;
    color: #F8D560;
}

/* Styling af Om teatret */

#about-content {}

.kategori-tab {
    width: 94%;
    margin: 0 auto;
}

.kategori-heading {
    color: white;
    font-family: "HelveticaNeue-CondensedBlack";
    padding-bottom: 2vh;
    font-weight: 500;
    font-size: 3em;
    text-align: center;
    padding-top: 8vh;
}

.about-text {
    color: white;
    font-family: "Helvetica Neue";
    padding-bottom: 4vh;
    line-height: 1.8em;
    font-weight: 300;
    text-align: center;
    
}

.about-images {}

.about-images img {
    width: 100%;
}

#about-buttons {
    display: none;
}

.about-btn {}

/* Styling af Praktisk Info */

#content-praktisk-info {}

#heading-one {
    font-family: "HelveticaNeue-CondensedBlack";
    color: white;
    font-size: 2.8em;
    text-align: center;
    padding-top: 4vh;
    padding-bottom: 8vh;
}

#praktisk-gris-container {
    display: flex;
    flex-direction: column;
}

.flex-praktisk-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.flex-praktisk-container h2 {
    color: white;
    font-family: "Helvetica Neue";
    text-align: center;
    font-size: 1.6em;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.flex-praktisk-container ul {
    padding-bottom: 8vh;
}

.flex-praktisk-container li {
    color: white;
    font-family: "Helvetica Neue";
    font-weight: 300;
    line-height: 1.9em;
    list-style: none;
    text-align: center;
    letter-spacing: 0.1em;
}

.praktisk-icon-container {
    width: 40px;
    height: 40px;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.praktisk-icon-container a {
    width: 100%;
    height: 100%;
}

.praktisk-icon-container img {
    height: 100%;
}

#havne-billede-container {
    height: 30vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#havne-billede-container img {
    width: 100%;
    min-width: 600px;
}

#pertnere-container {}

#pertnere-container h3 {
    font-family: "HelveticaNeue-CondensedBold";
    color: white;
    font-size: 1.8em;
    text-align: center;
    padding-top: 4vh;
    padding-bottom: 4vh;
    padding-top: 7vh;
}

#pertnere-container p {
    color: white;
    font-family: "Helvetica Neue";
    width: 96%;
    margin: 0 auto;
    font-weight: 300;
    text-align: center;
    line-height: 2em;
    width: 90%;
    font-size: 1.2em;
}

.img-devider {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vh;
    padding-bottom: 5vh;
}

.partner-img {
    width: 70%;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

.partner-img img {
    width: 100%;
    display: block;
}

#tiny-pukk {
    width: 55%;
}

#vig-bort-1 {}

#vig-bort-2 {}

#vig-bort-3 {}

#show-my-ass {
    display: none;
}

/* media-query */

@media screen and (min-width: 375px) {

    #forside-heading-1 {
        font-size: 1.7em;
    }

    #forside-heading-2 {
        font-size: 2.4em;
    }

    #forside-heading {
        line-height: 1.8em;
    }
}

@media screen and (min-width: 420px) {

    #forside-heading-1 {
        font-size: 1.9em;
    }

    #forside-heading-2 {
        font-size: 2.7em;
    }

    #forside-heading {
        line-height: 2em;
    }

}

@media screen and (min-width: 420px) {

    .partner-img {
        width: 50%;
        padding-top: 4vh;
        padding-bottom: 4vh;
    }

    #tiny-pukk {
        width: 35%;
    }

    .kategori-heading {
        font-size: 3.8em;
    }

}

@media screen and (min-width: 500px) {

    #forside-heading-1 {
        font-size: 2.3em;
    }

    #forside-heading-2 {
        font-size: 3.3em;
    }

    #forside-heading {
        line-height: 2.3em;
    }

    #koncept-video {
        height: 50vh;
        max-width: 800px;
    }

    #heading-container h1 {
        font-size: 2.8em;
    }

    #heading-end {
        font-size: 2em;
        line-height: 0.8em;
    }
}

@media screen and (min-width: 550px) {

    #generel-heading {
        font-size: 4em;
    }

    .poster {
        width: 90%;
    }

    .fremtidig-forestilling {
        width: 90%;
    }

    #volunteer-video {
        height: 50vh;
    }

    .kategori-heading {
        font-size: 5em;
    }

    #frivillig-heading {
        font-size: 4em;
    }

}

@media screen and (min-width: 650px) {

    #praktisk-gris-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        max-width: 650px;
        margin: 0 auto;
    }

    #heading-one {
        font-size: 3.8em;
    }

    #pertnere-container h3 {
        font-size: 3.4em;
    }

    #vig-bort-1 {
        display: none;
    }

    #vig-bort-2 {
        display: none;
    }

    #vig-bort-3 {
        display: none;
    }

    #show-my-ass {
        display: flex;
    }

    #logo-split {
        display: flex;
        justify-content: space-around;
        max-width: 800px;
        margin: 0 auto;
        padding-bottom: 6vh;
    }

    .img-devider {
        width: 50%;
    }

    .partner-img {
        width: 70%;
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #tiny-pukk {
        width: 55%;
    }


}

@media screen and (min-width: 768px) {

    .main-canvas-section {
        padding-left: 100px;
        padding-right: 100px;
    }

    #forside-section-1 {
        padding-left: 100px;
        padding-right: 100px;
        height: 75vh;
    }

    #forside-logo {
        margin-top: 25vh;
        width: 180px;
        height: 120px;
    }

    #forside-heading {
        margin-top: 5vh;
    }

    #forside-video-knap-contaioner {
        margin-top: 5vh;
    }

    #mobile-arrow-down {
        display: none;
    }

    #generel-heading {
        padding-top: 100px;
        padding-bottom: 30px;
    }

    .poster-info-container {
        width: 72vw;
        height: 80vh;
    }

    .poster-popup-info {
        z-index: 7;
        align-items: center;
    }

    #koncept-billede {
        height: 50vh;
        overflow: hidden;
    }

    #main-canvas-section-two {
        background-color: #F8D560;
    }

    #send-button {
        justify-content: flex-end;
    }

    #yellow-canvas-container {
        padding-bottom: 4vh;
    }

    #heading-one {
        padding-top: 12vh;
    }

    .about-images {
        display: none;
    }

    #about-content {
        padding-top: 20vh;
        max-width: 850px;
        margin: 0 auto;
        height: 80vh;
    }

    .kategori-tab {
        width: 98%;
        padding-bottom: 4vh;
    }

    .kategori-heading {
        padding-bottom: 6vh;
        padding-top: 0vh;
    }

    .about-text {
        padding-bottom: 0vh;
        font-size: 1.1em;
    }

    #kategori-tab-historie {
        display: block;
    }

    #kategori-tab-mission {
        display: none;
    }

    #kategori-tab-vision {
        display: none;
    }

    #kategori-tab-value {
        display: none;
    }

    #about-buttons {
        display: flex;
        justify-content: center;
        max-width: 850px;
        margin: 0 auto;
    }

    .about-btn {
        margin-left: 5px;
        margin-right: 5px;
        height: 40px;
        width: 25%;
        background-color: #F8D560;
        border-style: none;
        border-radius: 0px 0px 10px 10px;
        font-family: "Helvetica Neue";
        font-weight: 800;
        font-size: 1em;
        cursor: pointer;
        outline: none;
    }

    .active,
    .about-btn:hover {
        background-color: beige;
    }

    .about-btn:active {
        background-color: beige;
    }

    #canvas-height {
        height: 100vh;
    }

    #desktop-background-video {
        display: block;
    }

    #gif-video {
        display: none;
    }
}

@media screen and (min-width: 800px) {

    #forside-heading-1 {
        font-size: 2.7em;
    }

    #forside-heading-2 {
        font-size: 4.1em;
    }

    #forside-heading {
        line-height: 2.3em;
    }
}

@media screen and (min-width: 850px) {

    #havne-billede-container {
        height: 40vh;
    }

    .kategori-heading {
        font-size: 5.8em;
    }

}

@media screen and (min-width: 900px) {

    #forside-heading-1 {
        font-size: 3em;
    }

    #forside-heading-2 {
        font-size: 4.7em;
    }

    #forside-heading {
        line-height: 2.9em;
    }

    .poster-info-container {
        width: 78vw;
    }

    #about-content {
        height: 75vh;
    }
}

@media screen and (min-width: 1000px) {

    #forside-heading-1 {
        font-size: 2.9em;
    }

    #forside-heading-2 {
        font-size: 5em;
    }

    #generel-heading {
        font-size: 5em;
    }

    .photo-text-devider {
        display: flex;
    }

    .pop-up-image-container {
        display: block;
        height: 65vh;
        width: 48%;
        margin: 1%;
        border-radius: 15px;
        overflow: hidden;
        background-image: url(../images/forestilling-poster.jpg);
        background-position: center;
        background-size: cover;
    }

    .pop-up-text-container {
        width: 50%;
    }

    #volunteer-video {
        height: 55vh;
        max-width: 1000px;
    }

    #pertnere-container p {
        max-width: 820px;
    }

    #heading-one {
        font-size: 5em;
    }

    #pertnere-container {
        font-size: 1.2em;
    }

    #frivillig-heading {
        font-size: 4.6em;
    }
}

@media screen and (min-width: 1200px) {

    #yellow-canvas {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #yellow-canvas-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        max-width: 1200px;
        width: 100%;
        padding-top: 4vh;
        padding-bottom: 4vh;
    }

    #text-content {
        padding-right: 2vw;
    }

}




/* media screen til galleri */

@media screen and (max-width: 900px) {
    .image-gallery {
        grid-template-areas:
            'img-1 img-1 img-2 img-2'
            'img-1 img-1 img-3 img-3'
            'img-4 img-4 img-5 img-5'
            
            'img-6 img-7 img-7 img-7'
            'img-8 img-8 img-8 img-8';
    }
    
    .image-gallery a{
        height: 20rem
    }
    
    .img-1{
        min-height: 41.5rem;
    }
    
    .img-6{
        min-height: 20rem;
    }
    
     #image-gallery-container{
        padding-left: 90px;
        padding-right: 90px;
    }
}


@media screen and (max-width: 600px) {
    .image-gallery {
        grid-template-areas:
            'img-1 img-1 img-1 img-1'
            'img-2 img-2 img-2 img-2'
            'img-3 img-3 img-3 img-3'
            'img-4 img-4 img-4 img-4'
            'img-5 img-5 img-5 img-5'
            'img-6 img-6 img-6 img-6'
            'img-7 img-7 img-7 img-7'
            'img-8 img-8 img-8 img-8';
    }
    
    .image-gallery a, .img1, img6{
        height: 30rem;
        min-height: 30rem;
    }
    
    #image-gallery-container{
        padding-left: 50px;
        padding-right: 50px;
    }
    
    
    

}

