

#video-crop {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}


#mobile-background-video {
    display: block;
    min-height: 100vh;
}

#desktop-background-video {
    display: none;
    min-height: 102vh;
}

@media screen and (min-width: 768px) {

    #mobile-background-video {
        display: none;
    }

    #desktop-background-video {
        display: block;
    }
}






#om-teatret-underside{
    position: absolute;
    z-index: 2;
    align-content: center;
}

#overskrift-historie{
    font-family: "HelveticaNeue-CondensedBlack";
    font-size: 100px;
    letter-spacing: 4px;
    margin-top: 270px;
    text-align: center;
    color: white;
}

#historie-text{
    margin-top: 20px;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    color: white;
    line-height: 30px;
    font-family: lato;
    font-weight: lighter;

}

#buttons{
    justify-content: center;
    display: flex;
    margin-top: 70px;
    
}

.Btn{
    background: #F8D560;
    padding: 10px 45px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    margin-left: 10px;
    font-family: "HelveticaNeue";
    font-weight: 600; 
    font-size: 15px;
}

.overlay{
    background: #000000;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 90%;
}


#mission-text, #vision-text, #value-text{
   
    position: absolute;
    opacity: 0;
}

#overskrift-mission, #overskrift-vision, #overskrift-value{
    
    position: absolute;
    opacity: 0;
}










