/* ------- generel styling ------- */

.main-canvas-section {
    width: 100%;
}

/* ------- Styling af forside ------- */

#dark-video-overlay {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgb(0, 0, 0, 0.8);
}

#background-video {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -9;
    top: 0;
    right: 0;
    overflow: hidden;
}

#desktop-background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100%;
    min-width: 100%;
    display: block;
}

#forside-section-1 {
    height: 75vh;
    width: 100%;
}

#forside-logo {
    width: 140px;
    height: 100px;
    margin: 0 auto;
    margin-top: 16vh;
}

#forside-logo img {
    width: 100%;
    display: block;
}

#forside-heading {
    font-family: "HelveticaNeue-CondensedBlack";
    text-align: center;
    line-height: 1.6em;
    letter-spacing: 1px;
    margin-top: 3vh;
}

#forside-heading-1 {
    font-size: 1.5em;
    color: transparent;
    -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color: white;
}

#forside-heading-2 {
    font-size: 2.1em;
    color: white;
}

#forside-video-knap-contaioner {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}

#forside-video-knap {
    background-color: transparent;
    height: 50px;
    width: 180px;
    border-color: #F8D560;
    border-radius: 50px;
    border-style: solid;
    border-width: 5px;
    color: white;
    font-size: 1.4em;
    font-family: "Helvetica Neue";
    font-weight: 600;
}

#forside-video-knap:hover {
    background-color: #F8D560;
    color: black;
    font-weight: 600;
}

#mobile-arrow-down {
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 90vh;
}

#mobile-arrow-down img {
    height: 100%;
    display: block;
}

/* ------- Styling af forestillinger ------- */

#generel-heading {
    font-family: "HelveticaNeue-CondensedBlack";
    text-align: center;
    font-size: 2.6em;
    color: white;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.kommende-forestilling {}

.poster {
    width: 94%;
    margin: 0 auto;
    max-width: 700px;
}

.poster-image {
    height: 100%;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    overflow: hidden;
    background-image: url("../images/forestilling-poster.jpg");
    background-color: black;
    background-position: center;
    background-size: cover;
}

.hashtag-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.hashtag-text {
    color: white;
    background-color: #1A1A1A;
    font-size: 1em;
    padding-bottom: 4px;
    padding-top: 2px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 8px;
    margin-left: 8px;
    margin-top: 8px;
    font-family: "Helvetica Neue";
    font-weight: 100;
    letter-spacing: 1px;
}

.hashtag-styling {
    color: orange;
}

.poster-title-dato-container {
    height: 100%;
    margin-top: 30vh;
}

.poster-dato {
    font-size: 1em;
    font-family: "Helvetica Neue";
    font-weight: 400;
    padding-left: 8px;
    padding-bottom: 12px;
}

.poster-titel {
    font-size: 2em;
    font-family: "Helvetica Neue";
    font-weight: 600;
    padding-left: 8px;
    padding-bottom: 12px;
    color: white;
}

.text-backround {
    background-color: #1A1A1A;
    padding-bottom: 4px;
    padding-top: 2px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 8px;
    color: white;
}

.poster-buttons {
    width: 100%;
    display: flex;
}

.buy-button {
    width: 50%;
    background-color: #9CF443;
    border: none;
    border-radius: 0px 0px 0px 15px;
    color: #454545;
    font-family: "Helvetica Neue";
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    text-decoration: none;
}

.buy-button:hover {
    background-color: #72D908;
}

.read-more-button {
    width: 50%;
    height: 100%;
    background-color: #454545;
    border: none;
    border-radius: 0px 0px 15px 0px;
    color: white;
    font-family: "Helvetica Neue";
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 2px;
    padding-top: 12px;
    padding-bottom: 12px;
    cursor: pointer;

}

.read-more-button:hover {
    background-color: #777777;
}

/* ------ Pop up til fremtidig forestilling ----- */

.poster-popup-info {
    background-color: rgb(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
}

.poster-info-container {
    width: 94vw;
    height: 96vh;
    background-color: #3E3E3E;
    margin-top: 2vh;
    border-radius: 15px;
}

.pop-up-top-container {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 15px 15px 0px 0px;
}

.close-button {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.close-button img {
    width: 50%;
    display: block;
}

.photo-text-devider {}

.pop-up-image-container {
    display: none;
}

.pop-up-text-container {}

.pop-up-title {
    font-family: "Helvetica Neue";
    font-size: 2em;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

.pop-up-description {
    width: 100%;
    height: 30vh;
    overflow: scroll;
}

.pop-up-description p {
    font-family: "Helvetica Neue";
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.6em;
    margin: 10px;
    color: white;
}

.description-line {
    border-color: #222222;
    border-style: solid;
    margin-left: 10px;
    margin-right: 10px;
}

.pop-up-dato {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pop-up-dato p {
    font-family: "Helvetica Neue";
    font-weight: 300;
    border-style: solid;
    border-width: 1px;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 100px;
    border-color: #707070;
    color: white;
    margin-bottom: 5px;
}

.pup-up-buy-button {
    background-color: #9CF443;
    width: 100%;
    margin-top: 5px;
    border-style: none;
    border-radius: 8px;
    color: #454545;
    font-family: "Helvetica Neue";
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 2px;
    text-decoration: none;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
}

.pop-up-praktisk-info {
    height: 30vh;
    width: 100%;
    border-radius: 0px 0px 15px 15px;
    overflow: scroll;
}

.pop-up-praktisk-devider {
    display: flex;
    margin-top: 7px;
    margin-bottom: 20px;

}

.position-text-left {
    width: 45%;
    padding-left: 10px;
    font-weight: 400;
    font-family: "Helvetica Neue";
    color: white;
    font-size: 1em;
}

.position-text-right {
    font-family: "Helvetica Neue";
    color: white;
    font-size: 1em;
    font-weight: 300;
    padding-right: 10px;
    letter-spacing: 1px;
}


.pop-up-praktisk-devider ul {}

.pop-up-praktisk-devider li {
    list-style: none;
    padding-bottom: 2px;
    display: flex;
    padding-bottom: 10px;
}

.pop-up-praktisk-line {
    border-color: #222222;
    border-style: solid;
    margin-left: 10px;
    margin-right: 10px;
    border-width: 1px;
    border-radius: 1px;
    margin-bottom: 10px;
}


/*----------------praktisk-info--------------*/

#content-praktisk-info{
    
    width: 100%;
    text-align: center;
    color: white;
    z-index: 2;
    font-family:"HelveticaNeue-CondensedBlack";
    font-size: 3em;
    
}



#container{
    
    z-index: 10;
    color: white;
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: center;
    background-color: black;
    padding: 50px 10px;
    margin-top: 50px;
}

#flex-container-one{
    display: flex;
    margin-right: 10px;
}

#flex-container-two{
    display: flex;
    flex-direction: row-reverse;
    margin-left: 10px;
}

.img-icons{
    width: 60%;
}



ul{
    list-style-type: none;
    font-size: 15px;
    font-family: lato;
    font-weight: lighter;
    line-height: 30px;
}

h2{
    font-size: 40px;
}

#img-devider{
    
    z-index: 2;
    margin-top: 10px;
    overflow: hidden;
    width: 100%;
}

#test{
    overflow: hidden;
    z-index: 2;
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
}

#samarbejdspartnere-text{
    font-family: lato;
    font-size: 25px;
    font-weight: lighter;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 40px;
}

.img-partner-logo{
    margin-top: 50px;
    width:  150px;
    height: 150px;
    object-fit: contain;
}


.main-canvas-section{
    background-color: rgb(0,0,0,0.8);
}







/* ------- Styling af Frivillig ------- */



/* ------- media-query ------- */

@media screen and (min-width: 375px) {

    #forside-heading-1 {
        font-size: 1.7em;
    }

    #forside-heading-2 {
        font-size: 2.4em;
    }

    #forside-heading {
        line-height: 1.8em;
    }
}

@media screen and (min-width: 420px) {

    #forside-heading-1 {
        font-size: 1.9em;
    }

    #forside-heading-2 {
        font-size: 2.7em;
    }

    #forside-heading {
        line-height: 2em;
    }

}

@media screen and (min-width: 500px) {

    #forside-heading-1 {
        font-size: 2.3em;
    }

    #forside-heading-2 {
        font-size: 3.3em;
    }

    #forside-heading {
        line-height: 2.3em;
    }

}

@media screen and (min-width: 550px) {

    #generel-heading {
        font-size: 4em;
    }

    .poster {
        width: 90%;
    }

}

@media screen and (min-width: 650px) {}

@media screen and (min-width: 768px) {

    .main-canvas-section {
        padding-left: 100px;
        padding-right: 100px;
    }

    #forside-section-1 {
        padding-left: 100px;
        padding-right: 100px;
        height: 75vh;
    }

    #forside-logo {
        margin-top: 25vh;
        width: 180px;
        height: 120px;
    }

    #forside-heading {
        margin-top: 5vh;
    }

    #forside-video-knap-contaioner {
        margin-top: 5vh;
    }

    #mobile-arrow-down {
        display: none;
    }

    #generel-heading {
        padding-top: 100px;
        padding-bottom: 30px;
    }

    .poster-info-container {
        width: 72vw;
        height: 80vh;
    }

    .poster-popup-info {
        z-index: 7;
        align-items: center;
    }
}

@media screen and (min-width: 800px) {

    #forside-heading-1 {
        font-size: 2.7em;
    }

    #forside-heading-2 {
        font-size: 4.1em;
    }

    #forside-heading {
        line-height: 2.3em;
    }

}

@media screen and (min-width: 900px) {

    #forside-heading-1 {
        font-size: 3em;
    }

    #forside-heading-2 {
        font-size: 4.7em;
    }

    #forside-heading {
        line-height: 2.9em;
    }

    .poster-info-container {
        width: 78vw;
    }
}

@media screen and (min-width: 1000px) {

    #forside-heading-1 {
        font-size: 2.9em;
    }

    #forside-heading-2 {
        font-size: 5em;
    }

    #generel-heading {
        font-size: 5em;
    }

    .photo-text-devider {
        display: flex;

    }

    .pop-up-image-container {
        display: block;
        height: 65vh;
        width: 48%;
        margin: 1%;
        border-radius: 15px;
        overflow: hidden;
        background-image: url(../images/forestilling-poster.jpg);
        background-position: center;
        background-size: cover;
    }



    .pop-up-text-container {
        width: 50%;
    }

}

@media screen and (min-width: 1200px) {}




/*---------praktisk-info----------*/

@media screen and (max-width: 540px){
    
    #flex-container-one{
        display: flex;
        flex-direction: column-reverse;
        
    }
    
    #flex-container-two{
        display: flex;
        flex-direction: column-reverse;
        margin-right: 20px;
        margin-top: 40px;
    }
    
    .img-icons{
        width: 50px;
    }
    
    #container{
        display: flex;
        flex-direction: column;
    }
    
    #img-devider{
        margin-top: 10px;
    }
    
    #samarbejdspartnere-text{
        font-size: 20px;
        margin: 0;
    }
    
    #sam-heading{
        font-size: 25px;
    }
    
    .img-partner-logo{
        width: 100px;
    }
    
    #heading-one{
        font-size: 50px;
    }
    
    #samarbejdspartnere-text{
        margin-top: 20px;
    }
}
