* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    height: 9vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

/* ---------- Mobile-Menu ----------- */

#mobile-burger {
    right: 0;
    width: 9vh;
    height: 9vh;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* ------ Right-Menu ------ */

#right-menu {
    width: 8vw;
    background-color: aqua;
    height: 100vh;
    right: 0;
}

#menu-logo {
    height: 9vh;
    left: 0;
    width: 100px;
    padding: 5px;
}

#menu-logo img {
    width: 100%;
}

/* ------ Left-Menu ------ */

#left-menu {
    width: 8vw;
    background-color: aqua;
    height: 100vh;
    left: 0;
}

#mobile-burger {
    right: 0;
    width: 9vh;
    height: 9vh;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.burger-line {
    height: 5px;
    width: 40px;
    margin: 4px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 2px 0px gray;
}

/* ------------ Media query -------------- */

@media screen and (min-width: 768px) {
    
    #left-menu {
        display: none;
    }
    
    #right-menu {
        display: none;
    }
}







