.heading1{
    text-align: center;
}

.text1{
    text-align: center;
}

#buttons{
    justify-content: center;
    display: flex;
    align-content: center;
}

.btn1{
    border: none;
    background-color: yellow;
    padding: 5px 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.btn2{
    border: none;
    background-color: yellow;
    padding: 5px 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.btn3{
    border: none;
    background-color: yellow;
    padding: 5px 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.btn4{
    border: none;
    background-color: yellow;
    padding: 5px 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


#desktop-background-video{
    position: fixed;
    z-index: -1;
}

